<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Changer les Identifiants</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    
    <form method="POST">
        <h2>Changer les Identifiants Administrateurs</h2>
        <div>
            <label for="old_username">Ancien Nom d'Utilisateur:</label>
            <input type="text" name="old_username" required>
        </div>
        <div>
            <label for="old_password">Ancien Mot de Passe:</label>
            <input type="password" name="old_password" required>
        </div>
        <div>
            <label for="new_username">Nouveau Nom d'Utilisateur:</label>
            <input type="text" name="new_username" required>
        </div>
        <div>
            <label for="new_password">Nouveau Mot de Passe:</label>
            <input type="password" name="new_password" required>
        </div>
        <div>
            <a href="{{ url_for('admin') }}">Retour à l'administration</a>
            <input type="submit" value="Mettre à jour">
        </div>
    </form>
    
</body>
</html>
